<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="css/styles.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    title Payment Form
  body
    div(class='payment-form')
      h2(class='payment-form__title') Thank you for choosing to subscribe to PDFfiller services!
      div(class='payment-form__wrap')
        ul(class='payment-form__payment-systems')        
          li(class='payment-form__payment-systems__item')
            svg(class='payment-form__payment-systems__icon')
              use(href='img/sprite.svg#icon-visa')
          li(class='payment-form__payment-systems__item')
            svg(class='payment-form__payment-systems__icon')
              use(href='img/sprite.svg#icon-masterCard')
          li(class='payment-form__payment-systems__item')
            svg(class='payment-form__payment-systems__icon')
              use(href='img/sprite.svg#icon-discover')
          li(class='payment-form__payment-systems__item')
            svg(class='payment-form__payment-systems__icon')
              use(href='img/sprite.svg#icon-americanExpress')

        form(class='payment-form__details' id='payment-form' action='https://formspree.io/email@domain.tld' method='post')
          div(class='payment-form__details__cardholder-name')
            label(class='payment-form__details__label' for='firstname') Cardholder Name
            label(class='payment-form__details__label__dn' for='lastname')
            div(class='payment-form__details__credentials')
              input(class='payment-form__details__input first-name' type='text' id='firstname' name='firstname' placeholder='First Name')
              input(class='payment-form__details__input last-name' type='text' id='lastname' name='lastname' placeholder='Last Name')
          div(class='payment-form__details__card-number')
            label(class='payment-form__details__label' for='cardnumber') Card Number
            input(class='payment-form__details__input dots' type='text' id='cardnumber' name='cardnumber' maxlength='16' placeholder='•••• •••• •••• ••••')
          div(class='payment-form__details__expdate-cvv')
            div(class='payment-form__details__expdate')
              label(class='payment-form__details__label' for='expdate') Exp. Date
              div
                select(class='payment-form__details__select' id='expmonth' name='expmonth')  
                  option(value='month' disabled selected) MM
                  option(value='month') 01
                  option(value='month') 02
                  option(value='month') 03
                  option(value='month') 04
                  option(value='month') 05
                  option(value='month') 06
                  option(value='month') 07
                  option(value='month') 08
                  option(value='month') 09
                  option(value='month') 10
                  option(value='month') 11
                  option(value='month') 12
                span(class='payment-form__details__slash') /  
                select(class='payment-form__details__select' id='expyear' name='expyear')
                  option(value='month' disabled selected) YYYY
                  option(value='month') 2019
                  option(value='month') 2020
                  option(value='month') 2021
                  option(value='month') 2022
                  option(value='month') 2023
                  option(value='month') 2024
                  option(value='month') 2025
                  option(value='month') 2026
                  option(value='month') 2027
            div(class='payment-form__details__cvv')
              label(class='payment-form__details__label label-cvv' for='cvv') CVV/CVC
              input(class='payment-form__details__input cvv' type='text' id='cvv' name='cvv' maxlength='4' placeholder='XXXX')
              i(class='payment-form__details__cvv-help far fa-question-circle' aria-hidden='true')
          label(class='payment-form__details__label zip-mobile' for='zipcode') Zip Code
          div(class='payment-form__details__zip')
            label(class='payment-form__details__label zip-desktop' for='zipcode') Zip/Postal Code
            input(class='payment-form__details__input zip' type='text' id='zipcode' name='zipcode' maxlength='5' placeholder='01001')
          div(class='payment-form__paypal paypal-mobile')
            p(class='payment-form__paypal__title') Or pay with Paypal
            a(class='payment-form__paypal__link' href='/' title='Pay with Paypal')
                    
          input(class='payment-form__subscription' type='submit' name='subscribe' value='Start My Subscription for $19.99/mo')

        div(class='payment-form__paypal paypal-desktop')
          p(class='payment-form__paypal__title') Or pay with Paypal
          a(class='payment-form__paypal__link' href='/' title='Pay with Paypal')

      include layouts/cvv-tooltip.pug
      script(src='js/index.js')
