.payment-form {
	padding: 30px 15px;

	@media screen and (min-width: 481px) {
		position: relative;
		padding: 45px 20px 60px;
	}

	@media screen and (min-width: 768px) {
		background-color: $form-background-color;
	}

	&__title {
		text-align: center;
		margin-bottom: 25px;
		font-size: 20px;
		font-weight: normal;
		color: $main-color;

		@media screen and (min-width: 768px) {
			font-size: 24px;
		}
	}

	&__wrap {
		@media screen and (min-width: 768px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		@media screen and (min-width: 1024px) {
			flex-direction: row;
			justify-content: center;
			align-items: initial;
		}
	}

	&__payment-systems {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 220px;
		margin-bottom: 20px;
		list-style: none;

		&__item {
			width: 36px;
			height: 26px;
		}

		&__icon {
			width: 100%;
			height: 100%;
		}

		@media screen and (min-width: 768px) {
			// position: absolute;
			// top: 149px;
			// right: 147px;
			// align-items: center;
			// width: 21%;
			// margin: 0;
		}
	}

	.payment-systems-desktop {
		display: none;

		@media screen and (min-width: 768px) {
			display: flex;
			justify-content: space-between;
			width: 31.5%;
			margin-bottom: 0;
		}
	}

	.payment-systems-mobile {
		@media screen and (min-width: 768px) {
			display: none;
		}
	}

	&__details {
		position: relative;

		.dots {
			font-size: 16px;

			@media screen and (min-width: 768px) {
				width: 162px;
			}
		}
		.cvv {
			@media screen and (min-width: 768px) {
				width: 85px;
			}
		}

		.zip {
			@media screen and (min-width: 768px) {
				width: 162px;
			}
		}

		.zip-mobile {
			@media screen and (min-width: 768px) {
				display: none;
			}
		}

		.zip-desktop {
			display: none;

			@media screen and (min-width: 768px) {
				display: block;
			}
		}

		&__cardholder-name {
			position: relative;
			@media screen and (min-width: 768px) {
				display: flex;
				align-items: center;
			}
		}

		&__credentials {
			display: flex;
			justify-content: space-between;

			.first-name,
			.last-name {
				width: calc(50% - 5px);

				@media screen and (min-width: 768px) {
					width: 162px;
				}
			}

			.first-name {
				margin-right: 15px;
			}
		}

		&__cardholder-name,
		&__card-number,
		&__expdate,
		&__zip,
		&__cvv {
			@media screen and (min-width: 768px) {
				display: flex;
				align-items: center;
			}
		}

		&__cardholder-name,
		&__card-number,
		&__expdate-cvv,
		&__zip {
			margin-bottom: 10px;

			@media screen and (min-width: 481px) {
				margin-bottom: 20px;
			}
		}

		&__expdate-cvv {
			display: flex;
			justify-content: space-between;

			@media screen and (min-width: 768px) {
				justify-content: initial;
			}
		}

		&__slash {
			padding: 0 6px 0 8px;
		}

		&__cvv-help {
			position: relative;
			bottom: 36%;
			right: -80%;
			color: $icon-color;
			cursor: pointer;
			font-size: 12px;

			@media screen and (min-width: 768px) {
				bottom: 6%;
				right: 10%;
			}
		}

		&__label {
			display: inline-block;
			margin-bottom: 5px;
			font-weight: bold;

			&__dn {
				display: none;
			}

			@media screen and (min-width: 768px) {
				width: 135px;
				margin-bottom: 0;
				padding-right: 12px;
				text-align: right;
			}
		}

		&__cvv {
			position: relative;
			width: 36%;

			@media screen and (min-width: 481px) {
				width: initial;
				margin-left: 15px;
			}

			.label-cvv {
				width: auto;
				text-align: left;
			}
		}

		&__input,
		&__select {
			padding-left: 10px;
			padding-right: 7px;
			border-radius: 3px;
			border: 1px solid $border-color;
			height: 30px;
			outline: none;
			color: $secondary-color;
		}

		&__input {
			width: 100%;
			transition: border-color .2s cubic-bezier(0.645, 0.045, 0.355, 1);

			&:hover {
				border-color: #333;
			}

			.error {
				background-color: $white-color;
			}
		}
	}

	&__paypal {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		padding: 10px 15px;
		border-radius: 6px;
		background-color: $background-color;
		border: 1px solid #dddddd;

		&__link {
			display: block;
			width: 102px;
			height: 38px;
			background-image: url('../img/paypal-mobile.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			border-radius: 3px;

			@media screen and (min-width: 1024px) {
				width: 136px;
				height: 50px;
				background-image: url('../img/paypal-desktop.png');
			}
		}

		&__title {
			@media screen and (min-width: 1024px) {
				margin-bottom: 25px;
			}
		}

		@media screen and (min-width: 768px) {
			width: 61.5%;
			margin-left: 29%;
			font-size: 16px;
		}

		@media screen and (min-width: 1024px) {
			flex-direction: column;
			justify-content: center;
			width: 31.7%;
			margin: 0 0 0 15px;
			font-size: 18px;
		}
	}

	.paypal-mobile {
		@media screen and (min-width: 1024px) {
			display: none;
		}
	}

	.paypal-desktop {
		@media screen and (max-width: 1023px) {
			display: none;
		}
	}

	&__subscription {
		width: 100%;
		padding: 12px 10px;
		border-radius: 3px;
		background-image: linear-gradient(0deg, #ff7600 0%, #ffa300 100%);
		border: 1px solid #fd7722;
		text-align: center;
		color: $white-color;
		font-weight: bold;
		cursor: pointer;

		@media screen and (min-width: 768px) {
			display: block;
			width: 68%;
			margin-left: 29%;
		}
	}
}
