div(class='cvv-tooltip')
  div(class='cvv-tooltip__visa-mastercard')
    div(class='cvv-tooltip__icon-wrap')
      svg(class='cvv-tooltip__icon')
        use(href='img/sprite.svg#icon-3digit')
    p(class='cvv-tooltip__title') Visa, MasterCard
    p(class='cvv-tooltip__desc') 3-Digit Verification Number

  div(class='cvv-tooltip__american-express')
    div(class='cvv-tooltip__icon-wrap')
      svg(class='cvv-tooltip__icon')
        use(href='img/sprite.svg#icon-4digit')
    p(class='cvv-tooltip__title') American Express
    p(class='cvv-tooltip__desc') 4-Digit Verification Number
